#!/bin/bash

# Simple calculator
calc() {
	local result=""
	result="$(printf "scale=10;%s\n" "$*" | bc --mathlib | tr -d '\\\n')"
	#						└─ default (when `--mathlib` is used) is 20

	if [[ "$result" == *.* ]]; then
		# improve the output for decimal numbers
		# add "0" for cases like ".5"
		# add "0" for cases like "-.5"
		# remove trailing zeros
		printf "%s" "$result" |
		sed -e 's/^\./0./'  \
			-e 's/^-\./-0./' \
			-e 's/0*$//;s/\.$//'
	else
		printf "%s" "$result"
	fi
	printf "\n"
}

# Found this nugget for autocompleting known_hosts at
# https://gist.github.com/aliang/1024466
_complete_ssh_hosts ()
{
        COMPREPLY=()
        cur="${COMP_WORDS[COMP_CWORD]}"
        comp_ssh_hosts=`cat ~/.ssh/known_hosts | \
                        cut -f 1 -d ' ' | \
                        sed -e s/,.*//g | \
                        grep -v ^# | \
                        uniq | \
                        grep -v "\[" ;
                cat ~/.ssh/config | \
                        grep "^Host " | \
                        awk '{print $2}'
                `
        COMPREPLY=( $(compgen -W "${comp_ssh_hosts}" -- $cur))
        return 0
}

### added grip for markdown review
grip() {
FILE=${1:-README.md}
docker run --disable-content-trust -it --rm -p 8080:8080 -v ${PWD}:/data -v ~/.grip:/.grip mbentley/grip --context=username/repo ${FILE} 0.0.0.0:8080
}

tflip() {
  $(grep tflip ~/ascii_moji.txt |cut -d \: -f2 |pbcopy)
}

shrug() {
  $(grep shrug ~/ascii_moji.txt|cut -d \: -f2 |pbcopy)
}

createRole() {
  ROLE=${1}
  DIRS="defaults files handlers meta tasks templates vars"

  ### Make sure we have a role name...
  if [[ -z ${ROLE} ]]; then
    echo "usage: createRole <ansible-RoleName>"
    echo "  ex:  createRole myAnsibleRole"
    exit 1
  fi

  ### Make sure the role doesn't already exist
  if [[ -e ${ROLE} ]]; then
    echo "${ROLE} already exists, aborting..."
    exit 1
  fi

  ### ugh - mkdir -p ${ROLE}/{${DIRS}} should work...
  for myDir in ${DIRS}
   do
     mkdir -p ${ROLE}/${myDir}
   done
}
